.w2{
   color: green;
}
.w3{
    color: blue;
}
.w4{
    color:firebrick;
}
#Aa:hover{
    color: white;
    background-color: black;
}
#Ee:hover{
    color: white;
    background-color: black;
}
#Ii:hover{
    color: white;
    background-color: black;
}
#Oo:hover{
    color: white;
    background-color: black;
}
#Uu:hover{
    color: white;
    background-color: black;
}